@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: bold;
}

body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#6ebeff,#f64580);
    padding-bottom: 60px;
    padding-top: 100px;
}

header {
    color: white;
    height: 75px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    font-size: 50px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

footer {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    color: white;
    padding: 0; 
    font-size: 18px;
    position: absolute;
    bottom: 0;
}

footer p {
    margin-left: 20px;
    font-weight: 600;
}

.bubbles{
    position: absolute;
    bottom: -100px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.bubbles span{
    height: 60px;
    width: 60px;
    background: rgba(255,255,255, 0.1);
    box-shadow: 0 20px 50px rgba(0,0,0,0.15);
    backdrop-filter: blur(5px);
    animation: move 10s linear infinite;
    position: relative;
    overflow: hidden;
}

@keyframes move {
    100%{
        transform: translateY(-90vh);
    }
}

.bubbles span.one{
    animation-delay: 2.2s;
    transform: scale(2.15);
}

.bubbles span.two{
    animation-delay: 3.5s;
    transform: scale(1.55);
}

.bubbles span.three{
    animation-delay: 0.2s;
    transform: scale(0.35);
}

.bubbles span.four{
    animation-delay: 6s;
    transform: scale(2.15);
}

.bubbles span.five{
    animation-delay: 7s;
    transform: scale(0.5);
}

.bubbles span.six{
    animation-delay: 4s;
    transform: scale(2.5);
}

.bubbles span.seven{
    animation-delay: 3s;
    transform: scale(1.5);
}

.bubbles span::before{
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    height: 60px;
    width: 40%;
    transform: skew(45deg) translateX(150px);
    background: rgba(255,255,255,0.15);
    animation: mirror 2s linear infinite;

}

@keyframes mirror{
    100%{
        transform: translateX(-450px);
    }
}

.bubbles span.one::before{
    animation-delay: 1.5s;
}

.bubbles span.two::before{
    animation-delay: 2.5s;
}

.bubbles span.three::before{
    animation-delay: 3.5s;
}

.bubbles span.four::before{
    animation-delay: 7.5s;
}

.bubbles span.five::before{
    animation-delay: 4.5s;
}

.bubbles span.six::before{
    animation-delay: 0.5s;
}

.bubbles span.seven::before{
    animation-delay: 6s;
}

.container{
    width: 360px;
    padding: 15px;
    border-radius: 25px;
    backdrop-filter: blur(5px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 20px 50px rgba(0,0,0,0.1);
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(255,255,255,0.5);
}

.container h1{
    width: 100%;
    height: auto;
    margin: 0 3px;
    border: none;
    color: #fff;
    display: block;
    text-align: right;
    font-size: 40px;
    padding-right: 10px;
    padding-bottom: 6px;
    background: transparent;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
}

.container h1::-webkit-scrollbar {
	width: 4px;
    height:4px;
}
.container h1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(135, 135, 135, 0.2);
    background: rgba(255, 255, 255, 0.2);
}
.container h1::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2); */
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}

.container h1::-webkit-scrollbar:horizontal {
    height: 10px;
}

.container input[type="button"]{
    height: 60px;
    color: #fff;
    width: calc(100% / 4 - 5px);
    background: transparent;
    border-radius: 12px;
    margin-top: 15px;
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container input[type="button"]:hover{
    background: rgba(255,255,255,0.1);
}

.container input[value="0"] {
    height: 65px;
    color: #fff;
    width: calc(100% / 2 - 8px);
    background: transparent;
    border-radius: 12px;
    margin-top: 15px;
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.by {
    position: inherit;
    right: 10px;
    color: #fff;
    font-size: 16px;
}

.by a {
    color: #90dcff;
    text-decoration: none;
    transition: .2s;
    border-radius: 5px;
    padding: 5px;
    backdrop-filter: blur(5px);
}

.by a:hover {
    background-color: #ffffff29;
    color: #55c9ff;
}

::selection {
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(2px);
}
