@import url(https://fonts.googleapis.com/css?family=Source%20Code%20Pro);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

* {
    padding: 0px;
    margin: 0px;
    font-family: "Source Code Pro", "Noto Sans TC";
    font-weight: bold;
}

body {
    background: rgb(10, 167, 148);
    padding-top: 115px;
}

header {
    padding: 25px;
    font-size: 50px;
    background-color: rgb(15, 182, 171);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 5px solid rgb(12, 152, 138);
    z-index: 1;
}

.addTodo_block {
    width: 600px;
    height: auto;
    padding: 60px 40px;
    margin: 80px auto 50px;
    background: rgb(128, 255, 196);
    border: 10px solid rgb(110, 220, 169);
    border-radius: 30px;
    display: flex;
    box-shadow: 0 0 5px 5px rgba(110, 220, 169, 0.6);
}

.addTodo_block input {
    width: 80%;
    height: 30px;
    padding: 15px 20px;
    margin-right: 20px;
    outline: none;
    border: 5px solid rgb(82, 165, 126, 0.5);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    color: rgb(48, 65, 57);
    font-size: 22px;
    caret-color: rgba(49, 110, 82, 0.6);
    box-shadow: 3px 3px 5px 1px rgb(108, 183, 148);
}

.addTodo_block input::placeholder {
    color: rgba(49, 110, 82, 0.6); 
}

.addTodo_block input::selection {
    background-color: rgba(49, 110, 82, 0.3) ;
    color: rgba(38, 86, 63);
}

.addTodo_block button {
    width: 15%;
    height: 70px;
    outline: none;
    border: 5px solid rgb(82, 165, 126, 0.5);
    border-radius: 10px;
    background-color: rgba(201, 232, 217, 0.4);
    cursor: pointer;
    box-shadow: 3px 3px 5px 1px rgb(108, 183, 148);
    color: rgb(53, 68, 61, 0.5);
    font-size: 40px;
    text-align: center;
    transition: 0.2s;
}

.addTodo_block button:hover {
    background-color: rgba(171, 200, 186, 0.4);
    border: 5px solid rgba(75, 149, 115, 0.5);
    box-shadow: 3px 3px 5px 1px rgb(93, 154, 125);
    transform: scale(1.03);
    transition: 0.2s;
}

.addTodo_block button:active {
    transform: scale(0.95);
}

.todos_block {
    width: 600px;
    height: auto;
    padding: 10px 40px 40px;
    margin: 0px auto 80px;
    background: rgb(128, 255, 227);
    border: 10px solid rgb(110, 220, 198);
    border-radius: 30px;
    display: block;
    box-shadow: 0 0 5px 5px rgba(110, 220, 196, 0.6);
    position: relative;
}

/* .todos_block input {
    width: 100%;
    height: 35px;
    padding: 15px 60px 15px 25px;
    color: rgb(35, 67, 61);
    font-size: 22px;
    
    border: 5px solid rgb(96, 201, 180); 
    border-radius: 15px;
    background-color: rgba(169, 255, 236, 0.5);
    outline: none;
    caret-color: rgb(44, 90, 81, 0.6);
    box-shadow: 3px 3px 5px 1px rgb(73, 153, 137);
}

.todos_block input::placeholder {
    color: rgb(44, 90, 81, 0.6);
}

.todos_block input::selection {
    background-color: rgba(32, 83, 73, 0.3);
    color: rgba(32, 83, 73);
} */

.todos_block div {
    width: 90%;
    height: 35px;
    padding: 5px 15px 45px;
    margin-top: 30px;
    border: 5px solid rgb(96, 201, 180); 
    border-radius: 15px;
    background-color: rgba(169, 255, 236, 0.5);
    box-shadow: 3px 3px 5px 1px rgb(73, 153, 137);
    color: rgb(35, 67, 61);
    font-size: 22px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
}

.todos_block div p{
    word-break: break-all;
}

.todos_block div p::selection {
    background-color: rgba(32, 83, 73, 0.3);
    color: rgb(32, 83, 73);
}

.todos_block div img {
    -webkit-user-drag: none;
    cursor: pointer;
    width: 22px;
    height: 22px;
    padding: 6px 35px;
    border: none; 
    border-radius: 6px;
    transition: 0.1s;
    position: absolute;
    bottom: 10px;
}

.todos_block div img:hover {
    transform: scale(1.02);
}

.todos_block div img:active {
    transform: scale(0.99);
}

[DoneBtn] {
    display: inline-block;
    background-color: rgb(36, 192, 83);
    right: 110px;
}

[ResetBtn] {
    display: none;
    background-color: rgb(36, 192, 83);
    right: 110px;
}

/* [EditBtn] {
    display: inline-block;
    background-color: rgb(213, 194, 22);
    right: 110px;
} */

[DeleteBtn] {
    display: inline-block;
    background-color: rgb(221, 60, 60);
    right: 10px;
}

::-webkit-scrollbar {
    width: 0;
}


