:root {
    --header-bg: #2885e2b8;
}

.header, .btm-nav {
    background-color: var(--header-bg);
    box-shadow: 0 0 10px var(--header-bg);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 1.5rem;
    position: fixed;
    top: 0;
    z-index: 4;
}
.logo-link {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    height: 45px;
    padding: 0 0.5rem;
}
.nav {
    height: 100%;
}
.nav ul {
    display: flex;
    list-style-type: none;
    height: 100%;
}
.nav-btn {
    height: 100%;
    font-size: 1.3rem;
    font-family: var(--font-huninn);
    cursor: pointer;
    transition: background-color 0.3s;
}
.nav-btn a {
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    padding: 0 1rem;
    text-decoration: none;
}
.nav-btn:hover, .btm-nav-btn:hover {
    background-color: #ffffff34;
}

.btm-nav {
    display: none;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
}
.btm-nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.btm-nav-btn {
    height: 100%;
    transition: background-color 0.3s;
}
.btm-nav-btn a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-family: var(--font-huninn);
    padding: 0.5rem 1.3rem;
    gap: 0.2rem;
    font-size: 0.9rem;
}
.btm-nav img {
    width: 1.5rem;
    height: 1.5rem;
}

@media screen and (max-width: 768px) {
    .header nav {
        display: none;
    }

    .header {
        justify-content: center;
        height: 60px;
    }

    .header img {
        height: 38px;
    }

    .btm-nav {
        display: block;
    }
}
@media screen and (max-width: 450px) {
    .btm-nav-btn a {
        padding: 0.5rem 0.8rem;
    }
}
@media screen and (max-width: 350px) {
    .btm-nav-btn a {
        padding: 0.5rem 0.5rem;
        font-size: 0.8rem;
    }
    .btm-nav-btn img {
        width: 1.2rem;
        height: 1.2rem;
    }
}